*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(255, 106, 0);
    color: white;
    text-align: center;
    padding: 20px;
}
nav{
    background-color: black;
    color: white;
    height: 4em;
    display: flex;
 padding: 20px;
}
.menu{
    background-color:rgb(255, 106, 0) ;
    border-radius: 4px;
    padding: 8px 16px;
}
main{
    background-color: #2a2a2a;
    color: white;
    height: 375px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
h2{
    padding: 10px;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
}
section div{
    width: 324px;
    height: 150px;
    border-radius: 12px;
    background-color: rgb(230, 219, 205);
    padding: 10px;
    margin: 10px;
}
footer{
    background-color: rgb(27, 27, 27);
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 5rem;
}
nav div div{
    display: none;
}

@media(min-width:768px)  {
    .menu{
        display: none;
    }
    nav{
    background-color: black;
    color: white;
    height: 4em;
 padding: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
} nav > div:last-child{
    display: flex;
    gap: 20px;
}
nav div div{
display: block;
  
}
nav div div:hover{
    background-color: orangered;
    border-radius: 10px;
    cursor: pointer;
}
section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,auto);
    gap: 15px;
}
}@media(min-width:1024px) {
    .menu{
        display: none;
    }
    nav{
    background-color: black;
    color: white;
    height: 4em;
 padding: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
} nav > div:last-child{
    display: flex;
    gap: 20px;
}
nav div div{
display: block;
  
}
nav div div:hover{
    background-color: orangered;
    border-radius: 10px;
    cursor: pointer;
}
section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 15px;
}
}